@using global::Shared.Enums
@model PartialViewsVM
<div class="row justify-content-center">
    <div class="text-center">
        <div class="@(ViewData["Title"]?.ToString() == "New Trade" ? "" : "card-header")">
            <div class="row align-items-center">
                <!-- Header tabs begin -->
                <div class="col mr-md-5 d-flex justify-content-center">
                    <div id="researchDataTabHeaders">
                        <ul class="nav nav-tabs" id="journalTabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pnl-tab" data-toggle="tab" data-target="#pnl" type="button" role="tab" aria-controls="pnl" aria-selected="true">PnL</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="entry-tab" data-toggle="tab" data-target="#entry" type="button" role="tab" aria-controls="entry" aria-selected="false">Entry</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="priceActionContext-tab" data-toggle="tab" data-target="#priceActionContext" type="button" role="tab" aria-controls="priceActionContext" aria-selected="false">PA Context</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Header tabs ends -->
            </div>
        </div>

        <div class="card-body" id="cardBody">
            <div class="tab-content">
                <!-- Tab content PnL -->
                <div class="tab-pane fade show active tundora text-left" id="pnl" role="tabpanel" aria-labelledby="pnl-tab">
                    <div class="row">
                        <div class="col">
                            <div class="d-flex flex-wrap">
                                <div class="form-group col-12 col-md-6 col-lg">
                                    <label class="d-block text-nowrap min-width-60" for="TestCradlePropInput">Test Cradle Prop</label>
                                    <input class="text-center form-control" id="TestCradlePropInput" data-research-cradle="TestCradleProp" value="@Model.ResearchCradle.TestCradleProp" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade show tundora text-left" id="entry" role="tabpanel" aria-labelledby="entry-tab">
                    <div class="row">
                        <div class="col">
                            <div class="d-flex flex-wrap">
                                <div class="form-group col-12 col-md-6 col-lg">
                                    @* The elements for the entry *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade show tundora text-left" id="priceActionContext" role="tabpanel" aria-labelledby="priceActionContext-tab">
                    <div class="row">
                        <div class="col">
                            <div class="d-flex flex-wrap">
                                @* The elements for price action *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
